# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TEST 2d.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\unity\project\TEST 2d\.idea\.idea.TEST 2d\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
